.header {
    width: 100%;
    position:fixed;
    background: #202024;
    border-bottom: 1px solid #a6a6a6;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }
    }
}