.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 3rem;

    .card {
        background: #202024;
        width: 19rem;
        
        img {
            width: 100%;
        }

        div {
            padding: 1rem;

            h1 {
                text-align: center;
            }

            p {
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                word-break: break-word;
            }

            a {
                text-decoration: none;
                color: #000;
                font-weight: bold;
                background: #0E9888;
                padding: 0.4rem;
                border-radius: 4px;
                transition: all 0.5s;

                &:hover {
                    background: #09b5a0;
                }
            }
        }
    }
}